START_PATH: str = '/'
"""Начальный путь для поиска."""

MIN_FOLDER_SIZE_GB: float = 10
"""Минимальный размер каталога, на который реагирует программа."""

TOKEN = '111111188888444wwwwwwweeeeeFFFFF'
"""Токен вашего телеграм-бота."""

MY_CHAT_ID = '1234567890'
"""Id вашего чата телеграм."""

LOGFILE_PATH: str = 'log/log_exp.log'
"""Путь для файла журнала относительно каталога программы."""

LOG_MAX_SIZE: int = 5_000_000
"""Максимальный размер файла журнала в байтах."""

NUMBER_OF_LOG_FILES: int = 5
"""Число хранимых файлов журнала."""
